.logo{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    margin-top: 550px;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
}

.text{
    height: 50px;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color:#007d8c; */
    /* background-color: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);; */
    box-shadow: 0 0 100px 50px #007d8c
    ;
}





.text:hover{
    cursor: pointer;
    animation: bounce 1s;
}

.about-body{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    height: 400px;
    width: 400px;
    border: solid  rgb(18,147,164);
    border-radius: 25px;
    color: white;
    background-color: rgb(68,60,76, 0.7);
}

