.logo{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 360px;
    /* margin-right: 20px */
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
}

.wing-logo{
    width: 400px;
    height: 300px;
   
}





.wing-logo:hover{
    cursor: pointer;
    animation: bounce 1.5s;
}

.about-body{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    height: 400px;
    width: 400px;
    border: solid  #46ffd7;
    border-radius: 25px;
    color: white;
    background-color: rgb(68,60,76, 0.7);
    box-shadow: 0 0 100px 20px #46ffd7;
}

.about-body{
   display: flex;
   flex-direction: column; 
   justify-content: flex-start;
   justify-self: center;
   align-items: center;
   justify-content: space-around;
}


.text-body{
    display: flex;
    align-self: center;
    justify-self: center;
    text-align: center;
}
