.whole-user-profile-container{
    width: 650px;
    height: 800px;
    border-radius: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(68,60,76, 0.7);
    color: white;
    border: solid 4px #178dd1;
    margin-top: 900px;
}

.user-profile-elements{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 40px 500px 40px 80px 30px 80px;
}

.multi-select-profile{
    /* justify-content: center; */
    /* justify-self: center; */
    /* align-items: center; */
    flex-direction: row !important;
    display: grid;
    grid-row-start:6;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-rows: 65px 10px;
    width: 100%;
    font-size: 20px;
    border-top: solid 4px rgba(85,255,218, 0.3);
    border-bottom: solid 4px rgba(85,255,218, 0.3);
    /* border-radius: 25px; */
    background-color: rgb(68,60,76, 0.7);
}



.gender-preference-text{
    grid-row-start:5;
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.each-gender-input{
    grid-row-start: 6;
    grid-column-start: 2;
    flex-direction: row ;
}

.gender-preference-update{
    margin-top: 11px;
    height: 22px;
    border-radius: 0 0 25px 25px;
    outline: none;
    border: none;
    font: inherit;
    /* grid-row-start: 7; */
    /* margin-top: 15px; */
}

.gender-preference-update:hover{
        cursor: pointer;
        background-color: teal;
        color: white;
        transition: 1s;
}


.input-sizing{
    font-size: 24px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    padding-left: 45px;
    flex-wrap: wrap;
    justify-content: space-around;
    border-right: solid 1px #178dd1;
    /* margin-left: 60px; */
}