.match-pic{
    height: 30%;
    width: 30%;
}

.matched-container{
    display: flex;
    /* flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    width: 900px;
    height: 1175px;
    overflow: scroll;
    justify-content: center;
    /* margin-top: 50px; */
    /* border: solid 4px rgb(18,147,164); */
    padding-top: 50px;

    
}

.matched-container::-webkit-scrollbar {
    display: none;
}

.position-elements{
    /* padding-top: 1330px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* padding-top: 50px; */
    /* border: solid 4px rgb(18,147,164); */
}

.elements-in-matched-container{
    width: 750px;
    height: 650px;
    border-radius: 25px;
    display: grid;
    /* grid-template-rows: 500px 1fr; */
    background-color: rgb(68,60,76, 0.7);
    color: white;
    border: solid 4px rgb(18,147,164);
    /* margin-top: 900px */
}

.elements-in-top-matched{
    display: grid;
    grid-template-columns: 422px 1fr;
    grid-template-rows: 50px 100px 250px 100px;
}

.elements-in-bottom-matched{
    display: grid;
    /* grid-template-columns: 422px 1fr; */
    grid-template-rows: 50px 100px;
    /* height: 200px; */
}

.message-matched-container{
    display: flex;
    flex-direction: row;
    grid-column-end: 2;
    width: 100%;
}

.unmatched-button{
    display: flex;
    justify-content: flex-end;
    /* align-items: center !important; */
}

.message-text-area-matched{
    /* position: absolute; */
    vertical-align: text-bottom;
    width: 600px;
    resize: none;
    font-size: 22px;
    height: 60px;
    display: flex;
    outline: none;
    padding-left: 10px;
    display: flex;
    align-content: flex-end;
    border-top: solid rgb(18,147,164);
}

.no-current-matches-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.no-current-matches-text{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    height: 70px;
    width: 400px;
    border: solid  rgb(18,147,164);
    border-radius: 25px;
    color: white;
    background-color: rgb(68,60,76, 0.7);
}

.matched-pic{
    height: 100%;
    width: 100%;
    border-radius: 20px 0 0 0;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 5;
}

.matched-first-name{
    grid-row-start: 2;
    display: flex;
    justify-content: center;
}
.matched-bio{
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-send-button-matched{
    padding: 0;
    /* margin-top: 0.5px; */
    text-align: center;
    background-color: white;
    border: none;
    font-family: 'Lato';
    outline: none;
    color: black;
    font: inherit;
    height: 58px;
    width: 142px;
    border-top: solid rgb(18,147,164);
}
.message-send-button-matched:hover{
    cursor: pointer;
    background-color: teal;
    color: white;
    transition: 1s;
}