/* TODO Add site wide styles */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

  }

  html { height: 100%; }

  body{
      display: grid;
      padding-top: 100px;
      background-image: url('./images/pexels-oleg-magni-1040473\ \(1\).jpg');
      font-family: 'Lato', sans-serif;
      /* background-color: #855ca2; */
      /* background-color: #b97f9d;
      background-color: #bc8c9b; */
      /* background-color: #743463; */
      /* background-color: #483544; */
      background-size: cover;
      background-repeat: no-repeat;
      /* grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);; */
      height: 100%;
  }

  .body-of-webpage{
      padding-top: 200px;
  }

