.all-users-messages-container{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 500px;
    height: 500px;
    overflow-y: auto;
    background-color: rgb(68,60,76, 0.7);
    border-radius: 25px 0 0 25px;
    padding: 10px ;
    margin-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    border-left:solid 4px #178dd1;
    border-top:solid 4px #178dd1;
    border-bottom:solid 4px #178dd1;
}

.all-users-messages-container::-webkit-scrollbar {
    display: none;
}

 .current-messages-container{
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: rgb(68,60,76, 0.7);
    border-radius: 0 25px 25px 0;
    height: 500px;
    margin-top: 50px;
    align-items: flex-end;
    justify-content: end;
    align-self: flex-end;
    border-top: solid 4px #178dd1;
    border-right: solid 4px #178dd1;
    border-bottom: solid 4px #178dd1;
}

.message-on-click-container{
    border-radius: 25px;
    width: 615px;
    height: 500px;
}

.all-users-messages-container .each-message{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-template-columns: auto 30px;
    background-color:rgb(57,167,175, 0.2);
    width: 480px;
    height: 100px;
    border-radius: 25px;
    border-bottom: solid 2px gray;
    margin-left: 0;
    margin-top: 0;
    color: white;
    font-size: 22px;
    flex-direction: column;
}

.each-message{
    cursor: pointer;
}

.each-name{
    margin-left: 20px;
    margin-top: 32px;
    height: max-content
    ;
}
.each-message{
    margin-top: 32px;   
}

.each-massage-to-user{
    margin-left: 20px;
    margin-top: 44px;   
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    grid-row-start: 2;
    margin-left: 5px;
}


.message-element{
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-direction: row;

}

.message-text{
    font-size: 22px;
    margin-top: 35px;
    margin-left: 14px;
}

.each-message .message-icons{
    margin-top: 38px;
    display: flex;
    flex-direction: flex-end;
    align-items: flex-end;
    margin-left: auto;
}

.message-text-area{
    width: 450px;
    resize: none;
    font-size: 22px;
    height: 30px;
    display: flex;
    
    outline: none;
    padding-left: 10px;

}


.message-input-button{
    display: flex;
    flex-direction: row;
   
    border-radius: 25px;
}

.message-send-button{
    padding: 0;
    text-align: center;
    background-color: white;
    border: none;
    font-family: 'Lato';
    outline: none;
    color: black;
    font: inherit;
    width: 80%;
    border-radius: 0px 0px 17px 0px;
    font-size: 20px;
}

.message-send-button:hover{
    cursor: pointer;
    background-color: teal;
    color: white;
    transition: 1s;
}

.no-message-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.no-message-text{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    height: 70px;
    width: 400px;
    border: solid  #178dd1;
    border-radius: 25px;
    color: white;
    background-color: rgb(68,60,76, 0.7);
}

.whole-message-component{
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* 
.border-sizer{
    border-right: 4px solid rgb(68,60,76, 0.7);
    padding-right: 480px;
} */

.read-unread{
    pointer-events: none !important;
}

#message-message-text-area{
    outline: none;
    border: none;
}

.wing-logo-message{
    display: flex;
    height: 300px;
    width: 500px;
    align-self: center;
    margin-left: 45px;
    margin-top: 90px;
}